@use 'variables' as var;

#creations {
  margin-top: 6rem;

  .title h2 {
    color: var.$black;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
  }

  // grid container
  .cards-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    .card {
      // found a easier way: use aspect-ratio instead of clamp for div responsiveness
      aspect-ratio: 4 / 1.5;
      cursor: pointer;
      position: relative;

      &:hover::before {
        background: rgba(var.$white, 0.75);
      }

      &:hover .card-text {
        color: var.$black;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: background 0.3s ease;
      }

      .card-text {
        font-size: clamp(1.5rem, 0.75vw + 1.32rem, 2rem);
        line-height: clamp(1.5rem, 0.75vw + 1.32rem, 2rem);
        position: absolute;
        bottom: 12%;
        left: 6%;
        z-index: 2;
        transition: color 0.3s ease;
      }
    }
  }

  .btn {
    width: 9.8125rem;
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
    letter-spacing: 0.3125rem;
    color: var.$black;
    background: var.$white;
    border: 1px solid var.$black;
    transition: all 0.1s ease;
    cursor: pointer;

    &:hover {
      color: var.$white;
      background: var.$black;
    }

    &-top {
      // hide when in mobile
      display: none;
    }
    &-bottom {
      display: block;
      margin: 2rem auto 0 auto;
    }
  }
}

/******************** DESKTOP STYLES  **********************/
@media (min-width: 768px) {
  #creations {
    margin-top: 6rem;

    .title {
      display: flex;
      justify-content: space-between;
    }

    .title h2 {
      font-size: 3rem;
      line-height: 3rem;
    }

    // grid container
    .cards-container {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.875rem;

      .card {
        /////////// width / heigh
        aspect-ratio: 1.7 / 3;

        .card-text {
          bottom: 7.1%;
          left: 16%;
        }
      }
    }

    .btn-top {
      // show when in desktop
      display: inline-block;
    }
    .btn-bottom {
      // hide when in desktop
      display: none;
    }
  }
}
