@use 'variables' as var;

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

html {
  background-color: #f2f2f2;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  color: var.$white;
  background-color: var.$white;
}

a,
p {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ion-icon {
  cursor: pointer;
}

.container {
  width: 87.2%;
  margin: 0 auto;

  /******************** DESKTOP CONTAINER **********************/
  @media (min-width: 1024px) {
    width: 77.1%;
  }
}
