@use 'variables' as var;
@use 'mixins' as mix;

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

html {
  background-color: #f2f2f2;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  color: var.$white;
  background-color: var.$white;
}

a,
p,
button {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ion-icon {
  cursor: pointer;
}

.earth-bg-img {
  @include mix.card-bg-img('deep-earth');
}
.night-arcade-bg-img {
  @include mix.card-bg-img('night-arcade');
}
.soccer-bg-img {
  @include mix.card-bg-img('soccer-team');
}
.grid-bg-img {
  @include mix.card-bg-img('grid');
}
.from-above-bg-img {
  @include mix.card-bg-img('from-above');
}
.pocket-borealis-bg-img {
  @include mix.card-bg-img('pocket-borealis');
}
.curiosity-bg-img {
  @include mix.card-bg-img('curiosity');
}
.fisheye-bg-img {
  @include mix.card-bg-img('fisheye');
}

.container {
  width: 87.2%;
  margin: 0 auto;

  /******************** DESKTOP CONTAINER **********************/
  @media (min-width: 1024px) {
    width: 77.1%;
  }
}
