@use 'variables' as var;

nav {
  box-shadow: inset 0px 6rem 1rem 0px rgba(#000000, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 0;

  .container {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 9rem;
      // width: clamp(9rem, 2.5vw, 12rem);
    }

    .mobile-menu {
      position: fixed;
      top: 50vh;
      transform: translateY(-70%);
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      li a {
        font-size: 1.5rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    .open-menu-icon,
    .close-menu-icon {
      font-size: 1.5rem;
    }

    .close-menu-icon,
    .desktop-navigation {
      display: none;
    }
  }

  &.active .overlay {
    left: 0;
    border-radius: 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background: var.$black;
    border-radius: 50%;
    transition: all 0.5s ease;
    z-index: -1;
  }
}

/******************** DESKTOP STYLES  **********************/
@media (min-width: 768px) {
}

/*
  <nav>
    <div class="container">
      <div class="logo"><img src="images/logo.svg" alt="logo" /></div>

      <ul class="menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Support</a></li>
      </ul>

        <ion-icon class="open-menu" name="menu-outline"></ion-icon>
        <ion-icon class="close-menu" name="close-circle-outline"></ion-icon>
    </div>
    <div class="overlay"></div>
  </nav>
*/
